@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-family: 'Space Grotesk', sans-serif;
        overflow-x: hidden;
    }

    ::selection {
        background-color: #f9a826;
        color: #fff;
    }

    -moz-selection {
        background-color: #f9a826;
        color: #fff;
    }

    @keyframes blob {
        0% {
            transform: scale(1);
            rotate: 0deg;
        }
        50% {
            transform: scale(1.1);
            rotate: 180deg;
        }
        100% {
            transform: scale(1);
            rotate: 360deg;
        }
    }
}
